@model OrderDto
@{
    ViewData["Title"] = "Checkout";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

@Html.Partial("_HeadPartialView")

<body>
    @Html.Partial("_OffCanvasPartialView")
    @Html.Partial("_HeaderPartialView")
    <script type="text/javascript">
        $(document).ready(function () {
            var message = '@TempData["NotificationMessage"]';
            var type = '@TempData["NotificationType"]';
            toastr[type](message);
        });
    </script>
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form asp-controller="ShoppingCart" asp-action="PaymentIndex" method="post">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <h6 class="checkout__title">Billing Details</h6>
                            <div class="checkout__input">
                                <p>Address 1<span>*</span></p>
                                <input asp-for="@Model.Address.Address1" type="text" placeholder="Address 1" class="checkout__input__add">
                                <span asp-validation-for="@Model.Address.Address1" class="text-danger"></span>
                            </div>
                            <div class="checkout__input">
                                <p>Address 2<span>*</span></p>
                                <input asp-for="@Model.Address.Address2" type="text" placeholder="Address 2" class="checkout__input__add">
                                <span asp-validation-for="@Model.Address.Address2" class="text-danger"></span>
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input asp-for="@Model.Address.City" type="text">
                                <span asp-validation-for="@Model.Address.City" class="text-danger"></span>
                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span></p>
                                <input asp-for="@Model.Address.Country" type="text">
                                <span asp-validation-for="@Model.Address.Country" class="text-danger"></span>
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input asp-for="@Model.Address.PostCode" type="text">
                                <span asp-validation-for="@Model.Address.PostCode" class="text-danger"></span>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input asp-for="@Model.OrderNotes" type="text" placeholder="Notes about your order, e.g. special notes for delivery.">
                                <span asp-validation-for="@Model.OrderNotes" class="text-danger"></span>
                            </div>
                        </div>
                      

                        <div class="col-lg-5 col-md-6">
                            <div class="checkout__order">
                                <h6 class="order__title">Your order</h6>
                                <div class="checkout__order__products">Product <span>Price</span></div>
                                <ul class="checkout__total__products">
                                    @foreach(var detail in Model.Cart.CartDetails){
										
                                        <li><samp>@detail.Count</samp> @detail.Product.Name <span>$ @detail.Product.Price</span></li>
									}
                                   
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>$ @String.Format("{0:0.00}", Model.Cart.CartHeader.CartTotal)</span></li>
                                    <li>Discount <span>$ @Model.Cart.CartHeader.Discount</span></li>
                                    <li>Total <span>$ @String.Format("{0:0.00}", Model.Cart.CartHeader.CartTotal - Model.Cart.CartHeader.Discount)</span></li>

                                </ul>
                                
                                <p>
                                    "Ready to checkout? Take the next step!"
                                </p>


                                <input type="hidden" asp-for="Cart" value="@Json.Serialize(Model.Cart)" />
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
    <script src="/cake-main//lib/jquery/dist/jquery.min.js"></script>
    <script src="/cake-main/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/cake-main/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @Html.Partial("_FooterPartialView")

    @Html.Partial("_ScriptsPartialView")
</body>

</html>
